name: Go

on:
  push:
    branches: [ master ]
  pull_request: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.12"
          - "1.13"
          - "1.14"
          - "1.15"
        redis-version:
          - 4
          - 5
          - 6

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Setup Redis
        uses: supercharge/redis-github-action@1.1.0
        with:
          redis-version: ${{ matrix.redis-version }}

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -v .
